<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Web Assembly component</title>
    <base href="/" />
</head>
<body>
    <h1>Interactive Web Assembly component</h1>

    <Client.Counter IncrementBy="@IncrementBy" />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>

@code {
    [Parameter] public int IncrementBy { get; set; } = 1;
}